body { background: #FFF url('../img/about-bg.jpg') no-repeat fixed bottom left; }
.content { margin: 3em 3em 0 20em; padding-bottom: 2em; }
.content h1 { font-size: 5em; padding-bottom: 1em; }
.content h2 { font-size: 1.8em; padding-left: 1em }
.content p { font-size: 1em; padding: 1em 3em; line-height: 1.6em; text-indent: 2em; }
.content a { text-decoration: none; }
.content a:hover { text-decoration: underline; }