.cloud { display: block; position: absolute; border: 0; }
.cloud.small { top: 10px; left: -160px; z-index: 90; }
.cloud.medium { top: 290px; left: -280px; z-index: 90; }
.cloud.large { top: 40px; left: -400px; z-index: 92; }