@font-face {
	font-family: 'BleedingCowboysRegular';
	src: url('/static/misc/BleedingCowboys.eot');
	src: local('Bleeding Cowboys'), 
		 local('BleedingCowboys'), 
		 url('/static/misc/BleedingCowboys.woff') format('woff'), 
		 url('/static/misc/BleedingCowboys.ttf') format('truetype');
}

@font-face {
	font-family: 'CanarsieSlabJLRegular';
	src: url('/static/misc/CanarsieSlab.eot');
	src: local('Canarsie Slab JL'), 
		 local('CanarsieSlabJL'), 
		 url('/static/misc/CanarsieSlab.woff') format('woff'), 
		 url('/static/misc/CanarsieSlab.ttf') format('truetype');
}

@font-face {
	font-family: 'GenevaPlain';
	src: url('/static/misc/Geneva.eot');
	src: local('Geneva'), 
		 local('GenevaPlain'), 
		 url('/static/misc/Geneva.woff') format('woff'), 
		 url('/static/misc/Geneva.ttf') format('truetype');
}

@font-face {
	font-family: 'PlaytimeWithHotToddiesRegular';
	src: url('PlaytimeWithHotToddies.eot');
	src: local('Playtime With Hot Toddies'), 
		 local('PlaytimeWithHotToddies'), 
		 url('/static/misc/PlaytimeWithHotToddies.woff') format('woff'),
		 url('/static/misc/PlaytimeWithHotToddies.ttf') format('truetype');
}

@font-face {
	font-family: 'SFGrungeSansShadowRegular';
	src: url('/static/misc/SF_Grunge_Sans_Shadow.eot');
	src: local('SF Grunge Sans Shadow'), 
		 local('SFGrungeSansShadow'), 
		 url('/static/misc/SF_Grunge_Sans_Shadow.woff') format('woff'), 
		 url('/static/misc/SF_Grunge_Sans_Shadow.ttf') format('truetype');
}

@font-face {
	font-family: 'SFGrungeSansRegular';
	src: url('/static/misc/SF_Grunge_Sans.eot');
	src: local('SF Grunge Sans'), 
		 local('SFGrungeSans'), 
		 url('/static/misc/SF_Grunge_Sans.woff') format('woff'), 
		 url('/static/misc/SF_Grunge_Sans.ttf') format('truetype');
}

@font-face {
	font-family: 'EagerNaturalistRegular';
	src: url('eagernaturalist.eot');
	src: local('Eager Naturalist'), 
		 local('EagerNaturalist'), 
		 url('eagernaturalist.woff') format('woff'), 
		 url('eagernaturalist.ttf') format('truetype');
}

.font-times-roman { font-family: "Times New Roman", Courier, Garamond, serif; }
.font-arial-sans { font-family: Arial, Sans; }
.font-eager-naturalist { font-family: "EagerNaturalistRegular"; }
.font-sfgrunge-shadow { font-family: "SFGrungeSansShadowRegular"; }
.font-sfgrunge-sans { font-family: "SFGrungeSansRegular"; }
.font-geneva { font-family: "GenevaPlain"; }
.font-bleeding-cowboys { font-family: "BleedingCowboysRegular"; }
.font-canarsie-slab { font-family: "CanarsieSlabJLRegular"; }
.font-playtime-toddies { font-family: "PlaytimeWithHotToddiesRegular"; }

.color-white { color: #FFF; }
.color-off-white { color: #EEE; }
.color-light-gray { color: #666; }
.color-dark-gray { color: #333; }
.color-black { color: #000; }

.text-align-center { text-align: center; }