body { background: transparent url('/static/img/woodtile-bg.jpg') repeat scroll top left; }
strong { color: #beefff; font-weight: normal; }
#content { position: absolute; height: 480px; padding: 10px 0; width: 100%; top: 0; left: 0; background: transparent url('/static/img/sand-bg.jpg') repeat-x scroll left top; color: #FFF; }
#wrapper {  margin: 1em auto; width: 65em; }
#title { }
#title h1 { font-size: 6em; line-height: 1.3em; float: left; padding-right: 0.2em; margin-right: 0.2em; border-right: solid 0.2em #FFF; }
#title h2 { font-weight: normal; font-size: 0.9em; line-height: 1.25em; }
#example { display: block; float: left; }
#example .tryme { position: absolute;  width: 70px; height: 3.2em; margin-top: -1.3em; font-size: 1em; padding-bottom: 3em; background: transparent url('/static/img/tryme.png') no-repeat scroll right bottom; }
#example input,
#example textarea { display: block; margin: 1em 0 0 5em; width: 22em; padding: 0; font-size: 1em; font-family: "GenevaPlain"; border: solid 1em #FFF; }
#example textarea { height: 4em; }
#source { float: left; padding: 1em; background-color: #FFF; color: #502900; margin: 1em 0 0 2em; width: 32em; }
#source img { float: left; margin: -0.4em 0.3em 0 -0.2em; }
#source h3 { font-size: 1.6em; padding: 0.3em 0 0.2em; }
#source .text { font-size: 0.8em; line-height: 1.4em; display: block; margin-bottom: 0.4em; }
#source h4 { font-size: 0.7em; padding-top: 0.3em; }
.gist { padding: 1em 0; }