body { background: transparent url('/static/img/leather-bg.jpg') repeat scroll top left; }
.content { background: transparent url('/static/img/wood-bg.jpg') repeat-x scroll center center; min-height: 347px; margin-top: 5em; min-width: 72em; }
.content h1 { font-size: 14em; padding-top: 0.1em; margin: 0; line-height: 1; }
.content h2 { font-size: 3.5em; margin: 0; line-height: 1; }